<div class="container-fluid" style="background-image: url(assets/images/bg-01.jpg); width: 100%;height: 100vh;">
  <div class="card m-auto" style="width: 50%;height: 50%;top: 25%">
    <div class="card-body">
      <div class="card-title text-center">
        Login
      </div>
      <form [formGroup]="loginFormGroup">
      <div class="form-control d-flex flex-column">
        <label for="username">Username</label>
        <input type="text" formControlName="username" name="username" [appCustomLoginField]="usernameCriteria"/>
        <div class="alert alert-danger" *ngIf="getUsernameErrors() && getUsernameErrors().length" role="alert">
          <ul>
            <li *ngFor="let error of getUsernameErrors()">{{error}}</li>
          </ul>
        </div>
      </div>
      <div class="form-control d-flex flex-column">
        <label for="password">Password</label>
        <input type="password" name="password"  formControlName="password" [appCustomLoginField]="passwordCriteria"/>
        <div class="alert alert-danger" *ngIf="getPasswordErrors() && getPasswordErrors().length" role="alert">
          <ul>
            <li *ngFor="let error of getPasswordErrors()">{{error}}</li>
          </ul>
        </div>
      </div>
      <div class="text-center p-5">
        <input type="button" [disabled]="!loginFormGroup.valid" class="w-100" value="login"/>
      </div>
    </form>
    </div>
  
  </div>
  </div>